<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snametech.gatemansecurity">
    <application
    android:requestLegacyExternalStorage="true">
        <service 
            android:name=".LocationService" 
            android:foregroundServiceType="location" 
            android:exported="false" />
    </application>
</manifest>
